<div class="weui-tabbar">
  <a href="javascript:;" v-for="(item,index) in tabs" @click="hightLight(index,item.cName)"
    :class="['weui-tabbar__item',{'weui-bar__item_on':rank === index}]">
    <span style="display: inline-block;position: relative;">
      <img :src="icon" alt="" class="weui-tabbar__icon">
      <span v-if="item.num>0" class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
      <span v-if="item.dot" class="weui-badge weui-badge_dot" style="position: absolute;top: 0;right: -6px;"></span>
    </span>
    <p class="weui-tabbar__label" v-text="item.title"></p>
  </a>
</div>